/* Page Header */
.header{
  text-align: center;
}
.header h1{
  font-size: 3em;
  margin-bottom: 0;
}
.header h3{
  font-size: 1.6em;
  font-style: italic;
  font-weight: 400;
}
/* Artist/Venue Content */
.artistsContainer{
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  gap: 1.5em;
}
.containerHolder, 
.artistContainer{
  display: flex;
  flex-direction: column;
  border: 0.1em solid #7b9868;
  border-radius: 1em;
  padding: 1em;
  max-width: 25em;
  align-items: center;
}
.imageHolder{
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1em;
}
.containerText{
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.containerText a{
  font-size: 1.4em;
}