/* Homepage Content Container */
.containerHolder{
  display: flex;
  flex-direction: column;
  padding: 3em 4em;
  text-align: center;
}

.transitionBackground{
  background-image: linear-gradient(to bottom, #adc09e, white);
}

/* Artist/Venue Content */
.header{
  padding: 0.5em 3em;
  text-align: center;
}

.header h1 {
  font-size: 3em;
}

.header h4 {
  font-size: 1.5em;
  font-weight: 400;
}

.dataContainers{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  padding: 1.5em;
}

.dataContainer{
  align-items: center;
  border: 0.05em solid #98af88;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #98af88;
  display: flex;
  flex-direction: column;
  max-width: 23em;
  padding: 1em;
  text-decoration: none;
}

.containerImage{
  border-radius: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-decoration: none;
}

.containerTitle{
  font-family: "DM Serif Display";
  font-size: 2em;
}

.containerTitle h2:hover{
  text-decoration: none;
}