/* Core Body Elements */
/* Set the basic styling of the page */
body{
  font-family: "Lato";
  margin: 0;
}

/* Fonts */
/* Set the style of each of the fonts */
h1{
  margin: 0;
  font-size: 2rem;
  font-family: "DM Serif Display";
}

h2{
  margin: 0;
  font-size: 1.8rem;
  font-family: "Lato";

}

h3{
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato";

}

h4{
  margin: 0;
  font-size: 1.2em;
  font-family: "Lato";
}

p, a{
  text-decoration: none;
  font-family: "Lato";
  color: #000;
  font-size: 1rem;
  margin: 0;
}

.bodyContentContainer{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 1em;
}
