
/* Artist/Venue Container Styles */
.containerHolder {
  align-items: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding: 1.5em 0;
}

.dataContainer {
  border-radius: 1em;
  box-sizing: content-box;
  box-shadow: .5em .5em 1em #98af88;
  height: fit-content;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  width: 25em;
}

.dataContainer img {
  width: 25em;
  height: 20em;
  object-fit: cover;
  border-radius: 1em;
  margin-bottom: 1em;
}

.dataContainer h2 {
  font-family: "DM Serif Display";
  font-size: 2em;
}