/* Footer */
.footerBar{
  background-color: #98af88;
  display: block;
  padding: 0.5em 3em;
}
.footerBar p{
  line-height: 1.3em;
}
.contactLine{
  display: inline-flex;
  align-items: center;
}
.footerBar a{
  height: .9em;
  padding-right: .2em;
}

/* Mobile */
@media only screen and (max-width: 428px) {
  .footerBar{
    padding: 1em;
    gap: 1.5em;
  }
  .footerBar h1{
    font-size: 1.5em;
  }
  .footerBar p{
    font-size: 1em;
  }
  .dropdownList{
    padding-right: 1em;
  }
}