@keyframes gradientAnimation {
  0% {
    background-color: transparent;
    background-image: linear-gradient(to bottom,#9bb28c, #a4b896); 
  }
  35% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

/* Sets the style of the header bar - 
sticky so it stays at the top as the user 
navigates through the site */
.headerBar,
.dropdownList{
  background-color: transparent;
  display: flex;
  transition: all 1s ease;
  z-index: 1;
}
.headerBar{
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.headerBar a{
  font-family: "DM Serif Display";
  font-size: 1.4em;
}
.headerBar a:hover{
  text-decoration: underline;
}
.headerBar a:first-of-type{
  font-size: 2.5em;
}

/* Core links */
.coreLinks{
  align-items: center;
  display: flex;
  gap: 1.5em;
}

/* Set the styling for the dropdown items */
.dropdownList{
  background-image: linear-gradient(
    to bottom,
    #9bb28c,
    #a4b896
  ); 
  text-align: right;
  flex-direction: column;
  opacity: 0;
  padding: .25em 3em 1.5em 1.5em;
  position: fixed;
  right: 0;
  top: 3.8em;
  visibility: hidden;
}

.dropdownList a{
  font-size: 1.2em;
}

.userScrolled{
  background-color: white;
  background-image: none;
  box-shadow: 0 6px 14px -7px #0000001a;
}

/* Set the dropdown content to be visible when 
the mic icon is hovered over */
.micIcon:hover + .dropdownList,
.micIcon:focus-within + .dropdownList,
.dropdownList:hover {
  opacity: 1;
  visibility: visible;
}