@keyframes gradientAnimation {
  0% {
    background-color: transparent;
  }
  35% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

/* Sets the style of the header bar - 
sticky so it stays at the top as the user 
navigates through the site */
.headerBar, 
.headerBarSolid{
  background-color: transparent;
  height: 6em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: all 1s ease;
  width: 100%;
  z-index: 1;
}
.headerBarSolid{
  background-color: white;
  box-shadow: 0 6px 14px #0000001a;
}

/* Apply this class to just the header content so that
its two child elements are spaced equally at the
left and right of the header bar*/
.headerContent{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: space-between;
  padding: 0 3em;
}

/* Sets the style for the header links content */
.headerLinks {
  align-items: center;
  display: flex;
  gap: 1em; 
  margin: 0;
}

/* Set the style for the header
bar items - sets the font */
.headerTitle, .headerItem{
  font-family: "DM Serif Display";
}
.headerTitle {
  font-size: 2rem;
  padding-right: 0.5em;
}

/* underlines the header links when they're hovered over */
.headerTitle:hover,
.headerItem:hover{
  text-decoration: underline;
}

/* Set the styling for the dropdown items */
.dropdownList, .dropdownListSolid{
  background-color: transparent;
  border: 0.1em solid #ffffff00;
  border-radius: 1em;
  display: block;
  opacity: 0;
  padding: 1em 3em;
  position: fixed;
  right: 0;
  text-align: right;
  top: 4em;
  transition: all 1s ease;
  visibility: hidden;
  z-index: 1;
}

.dropdownListSolid{
  background-color: white;
  box-shadow: 0 6px 14px -7px #0000001a;
}

/* Set the dropdown content to be visible when 
the mic icon is hovered over */
li:hover > ul,
li:focus-within > ul,
li ul:hover {
  opacity: 1;
  visibility: visible;
}