.carousel{
  align-items: top;
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
  overflow: scroll;
}

.carouselItem{
  border-radius: 1em;
  flex: 1;
  min-width: 9em;
  padding: 0.5em;
  text-align: center;
}
.carouselItem:hover{
  background-color: rgba(255, 255, 255, 0.369);
}

.carouselItem img{
  border-radius: 1em;
  margin-bottom: .25em;
  max-width: 100%;
}