/* Page Content */
.pageContent{
  gap: 1.5em;
  min-height: calc(100vh - 18em);
  padding: 1em 3em;
}

/* Page Header */
.header{
  align-items: center;
  justify-content: center;
  margin-bottom: .5em;
  max-height: fit-content;
  padding-bottom: .5em;
  text-align: center;
}

/* Page Element Container */
.pageElement{
  text-align: center;
  height: fit-content;
  margin-bottom: 1.5em;
  width: 100%;
}
.pageElementRow{
  display: flex;
  flex-direction: row;
  gap: 5em;
}

/* Navigation Button */
.navButton{
  background-color: #98af88;
  border-radius: 1em;
  padding: .5em;
  margin: 1em;
  max-width: fit-content;
  min-width: 10em;
  text-align: center;
}
.navButton:hover {
  background-color: #98af8849;
}

/* Mobile */
@media only screen and (max-width: 428px) {
  .pageContent{
    min-height: 800px;
    padding: .5em 1em;
  }
  .pageElement{
    max-height: 800px;
  }
  .header h1{
    font-size: 1.6em;
  }
  .header h5{
    font-size: 1em;
  }
}