/* Page Content */
.pageContent{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 1.5em 0;
  min-height: calc(100vh - 18em);
  padding: 0 3em;
}

/* Page Header */
.header{
  align-items: center;
  flex: 1;
  justify-content: center;
  height: fit-content;
  margin-bottom: .5em;
  text-align: center;
}

/* Page Element Container */
.pageElement{
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 9;
  flex-direction: column;
  width: 100%;
}
.pageElementRow{
  flex-direction: row;
  gap: 5em;
}

/* Navigation Button */
.navButton{
  background-color: #98af88;
  border-radius: 1em;
  display: grid;
  padding: .5em;
  margin-top: .5em;
  max-width: fit-content;
  min-width: 10em;
  text-align: center;
}
.navButton:hover {
  background-color: #98af8849;
}