/* Core Body Elements */
/* Set the basic styling of the page */
body{
  font-family: "Lato";
  margin: 0;
}
.appContainer{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Fonts */
/* Set the style of each of the fonts */
h1{
  margin: 0;
  font-size: 2rem;
  font-family: "DM Serif";
}

h2{
  margin: 0;
  font-size: 1.8rem;
  font-family: "Lato";

}

h3{
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato";

}

h4{
  margin: 0;
  font-size: 1.2em;
  font-family: "Lato";
}

p, a{
  text-decoration: none;
  font-family: "Lato";
  color: #000;
  font-size: 1rem;
  margin: 0;
}

/* Header Bar */
/* Set the style of both the header and footer so they're consistent */
.headerBar, .footerBar{
  display: flex;
  background-color: #7b9868;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
/* Set the style for the join us button and hamburger menu */
.headerRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
/* set the style of the join button */
.joinButton{
  font-family: "Lato";
  font-size: 1em;
  font-weight: normal;
  border: 0.1em solid #7b9868;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  background-color: #bbd0ae;
}
/* Increase the size of the hamburger icon */
.hamburgerIcon{
  font-size: 1.8em;
}
.hamburgerIcon:hover{
  cursor: pointer;
}

/* Side Nav  */
/* Set the style of the core sidenav element - 
set the width so it doesn't encroach into the main body area */
.sideNavContainer{
  flex: 1;
  display: flex;
  min-width: fit-content;
  max-width: 25vw;
  background-color: #bbd0ae;
}
/* Set the styling for the side nav's content */
.sideNavContents{
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
}
/* Set the style of the user details element */
.userPanel{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0.5em;
}
.userImage{
  width: 10em;
  margin-bottom: 0.5em;
}
/* Set the style of the side nav links */
.sideNavLinks{
  flex: 1;
  display: inline-flex;
  flex-direction: column;
}
.sideNavLink{
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
.sideNavLink:hover{
  background-color: #ffffff5e;
}

/* Set the style of the sign in button elements */
.sideNavSignIn{
  text-align: center;
  justify-content: center;
  font: "Lato";
  font-size: 1em;
  border: 0.1em solid #bbd0ae;
  border-radius: 1em;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
  background-color: #ffffff5e;
}
.sideNavSignIn:hover{
  background-color: white;
}

/* Footer */
.footerBranding{
  padding-bottom: 0.5em;
}
.footerLinks{
  display: flex;
}
.instagramIcon{
  font-size: 1.4em;
  margin-right: 0.2em;
}
.footerRight{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em 0;
}
.enterEmail{
  width: 15em;
  border: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.submitEmail{
  font-family: "Lato";
  width: fit-content;
  padding: 0.5em 0.75em;
  border: none;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #bbd0ae;
}

/* Body */
.bodyContent{
  flex: 8;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.bodyContentContainer{
  /* flex: 1; */
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

/* Sign In */
.signIn{
  width: 50vw;
  justify-content: center;
  align-items: center;
}
