.profile,
.favourites{
  min-height: 20em;
  height: 100%;
}
.profile{
  display: block;
  height: inherit;
}
.profile img{
  min-width: 12em;
  max-width: 15em;
}
.profile a,
.favContainer a {
  margin-top: .5em;
}
.favourites{
  height: inherit;
}
.favourites .favContainer:first-of-type {
  margin-bottom: 2em;
}