
/* The div holding the map */
.mapHolder {
  align-items: center;
  box-shadow: 1em 1em 1em #98af88;
  height: calc(100vh - 15em);
  width: 100%;
}
/* Map Marker Popups */
.markerPopup h4 {
  padding-bottom: 0.25em;
}
.markerPopup p{
  padding: .1em 0;
  margin: 0;
}